.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.user-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

.username{
    font-size: 32px;
}

.user-email{
    font-size: 20px;
    font-weight: 300;
}

.nav-container{
    width: 100%;
}

.user-icon {
    width: 150px;
}

.login-button {
    margin: auto;
}