.comment-card {
  display: flex;
  gap: 10px;
  padding: 8px;
  align-items: start;
}

.comment-card-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.comment-card-text {
  background-color: #f1f5f9;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  word-break: break-word;
}

.comment-card-username {
  font-weight: bold;
  font-size: 14px;
}

.lg-icon {
  flex-shrink: 0;
}
